.container {
  position: relative;
}

.spinnerContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.67);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacer {
  height: 16px;
}
