.container {
  display: flex;
  flex-direction: column;
}

.itemContainer {
}

.emptyFeed {
  font-size: 20px;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .itemContainer {
    flex-basis: 47%;
  }
}
