.verifyEmailContainer {
    font-size: 17px;
    padding: 20px 0px;
    margin: 0 auto;
    width: 80%;
}

.verifyEmailErrorContainer {
    font-size: 20px;
    padding: 20px 0px;
    margin: 0 auto;
    width: 60%;
}

.btnContainer button {
    padding: 10px 20px;
    font-size: 12px;
}

.loader {
    width: 100%;
}

.loader div {
    margin: 0 auto;
}
.h3MarginTop{
    margin-top: 10px;
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 10px;
}

.validationsubtitle{
    font-size: 16px;
}


