.centerItems{
    text-align: center;
    margin: 0 auto;
    margin-bottom: -40px;
}
.textItem{
    margin: 20px 0 10px 0;
    font-weight: 500;
    padding-top: 17px;
}
.enquiryBtn{
    padding-top: 0px !important;
}