@import '../../../../static/styles/variables.scss';
.theTeamWrapper {
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        list-style: none;
        li {
            flex-basis: 46%;
            flex-grow: 0;
            flex-shrink: 0;
        }
    }
}


@media only screen and (min-width: $desktop) {
    .theTeamWrapper {
        ul {
            justify-content: flex-start;
            margin: 3em 0 4em 0;
            li {
                flex-basis: 22%;
                margin-right: 3%;
            }
        }
    }
}