
.loaderContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    z-index: 2;
  }
  

.unsupportedBrowserContainer {
    font-weight: bold;
    background-color: #e4e4e4;
    width: 30%;
    margin: 0 auto;
    color: black;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 8px;
    padding: 0px 20px 50px 20px;

    a {
        font-weight: bold;
    }

    .unsupportedBrowserIcon {
        margin-top: 50px;
        div {
            background-image: url('../static/icons/IE.png');
            height: 50px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 50px;
            margin: 0 auto;

        }
    }


    .unsupportedBrowserTitle {
        font-size: 35px;
        margin: 20px 0px;
    }
}


.unsupportedBrowser {
    min-height: 100vh;
}