@import '../../static/styles/variables.scss';
.paddedInner {
  max-width: 80em;
  margin: 0 auto;
  padding: 1em;
  overflow: auto;
}

.logoPlaceholder {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: inherit;
  width: 151px;
  background-color: #D5DBDB;
  overflow: hidden;
}

.newsArticleContent {
  img {
    width: 100%;
  }

  img + em {
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    text-align: center;
  }
  
}

.newsArticlePageTitle {
  font-size: 2.2em;
}

.componentHeader {
  text-transform: uppercase;
  color: $primary;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 0.8em;
  margin: 1em 0;
}

.inputWrapper {
  margin: 0.5em 0 1em 0;
}
table.defaultTable {
  background: $white;
  box-shadow: none;
  border: 1px solid $border-colour;
  overflow: hidden;
  font-size: 0.95em;
  margin: 1.5em 0;
  thead {
    tr {
      td {
        font-weight: 700;
      }
    }
  }
  tr {
    background: $white;
    border-bottom: 1px solid $border-colour;
    &:nth-child(even) {
      background: $lightgrey;
    }
    td {
      white-space: normal;
      color: black;
      padding: 0.6em;
      width: 50%;
      a {
        color: $secondary;
      }
      div{
        max-width: 151px;
      }
    }
  }
}
.noTopMargin {
  margin-top: 0;
}

.growonHover {
  transition: all 0.25s ease;
  transform: scale(1);
  &:hover,
  &:focus {
    transition: all 0.35s ease;
    transform: scale(1.2);
  }
}

//ERROR PAGE
.errorPageContainer{
  max-height: 850px;
  min-height: 850px;
}
.errorPage {
  text-align: center;
  background-image: url('/static/images/bg-error.jpg');
  background-repeat: 'no-repeat';
  background-position: center;
  background-size: cover;
  max-height: 100%;
  min-height: inherit;
  color: $white;
  .errorInner {
    max-width: 33em;
    margin: 0 auto;
  }
  .errorLogo {
    width: 12em;
    margin: 0 auto;
    img {
      max-width: 100%;
    }
    svg {
      display: block;
    }
  }
  .errorCode {
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 700;
    margin: 2em 0;
  }
  button {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
  }
  .errorDisclaimer {
    border: 1px solid $error;
    background: $border-colour;
    padding: 0.5em 0.8em;
    margin: 2em auto;
    color: $error;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 21em;
    .errorIcon {
      font-size: 2em;
      margin-bottom: 0.2em;
    }
    p {
      margin: 0;
      padding: 0;
      font-size: 0.8em;
      font-weight: 500;
      color: $error;
    }
  }
  p {
    color: $white;
  }
}

@media only screen and (min-width: $desktop) {
  .paddedInner {
    padding: 2em;
  }
  .componentHeader {
    font-size: 0.9em;
  }
  .springboardsSibebySide {
    display: flex;
    flex-direction: row;
  }
  .newsArticleContent {
    font-size: 1.1em;
    line-height: 1.6;
  }
}

@media only screen and (max-width: $mobile) {
  
table.defaultTable {
  overflow-x: scroll !important;
}

}

table.marketDerivativesFeeTables {
  background: $white;
  box-shadow: none;
  border: 1px solid $border-colour;
  overflow: hidden;
  font-size: 0.95em;
  margin: 1.5em 0;
  width: 100%;
  border-collapse: collapse;
  thead {
    tr {
      td {
        font-weight: 700;
      }
    }
  }
  tr {
    background: $white;
    border-bottom: 1px solid $border-colour;
    &:nth-child(even) {
      background: $lightgrey;
    }
    td {
      white-space: normal;
      color: black;
      padding: 0.6em;

      &:first-of-type {
          width: 100%;
      }
      a {
        color: $secondary;
      }
      div{
        max-width: 151px;
      }
    }
  }
}