// Colours
$black: #000;
$white: #fff;
$primary: #161723;
$secondary: #944fa0;
$accent: #15ad93;
$grey: #b4b6c6;
$grey-dark: #8e90a2;
$border-colour: #e2e3ef;
$lightgrey: #fafbfe;
$buzz: #444de7;
$community: #FD744E;

$newsgeneral: #e7448b;
$bg-1: #2a2c3d;
$bg-2: #0f1019;
$bg-3: #3d444e;
$accent-1: #f76b1c;
$error: #a20000;
$mobile : 799px;
$tablet: 650px;
$desktop : 800px;