@import '../../static/styles/variables.scss';
.seperatorDash {
    display: block;
    height: 0.4em;
    width: 3.2em;
    margin: 1.5em 0;
    background: $accent-1;
    background: -moz-linear-gradient(45deg, $accent-1 0%, $buzz 100%);
    background: -webkit-linear-gradient(45deg, $accent-1 0%, $buzz 100%);
    background: linear-gradient(45deg, $accent-1 0%, $buzz 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$accent-1, endColorstr=$buzz, GradientType=1);
}

@media only screen and (min-width: $desktop) {
    .seperatorDash {
        width: 4.2em;
    }
}