@import '../../../../../static/styles/variables.scss';
.tableContainer {
    overflow-x: scroll;
}


table.marketEquitiesTables {
    background: $white;
    box-shadow: none;
    border: 1px solid #d3d2df;
    overflow: hidden;
    font-size: 0.95em;
    margin: 1.5em 0;
    border-collapse: collapse;
    width: 100%;
    thead {
      tr {
        td {
          font-weight: 700;
          border: 1px solid #d3d2df;
        }
      }
    }
    tr {
      background: $white;
      &:nth-child(even) {
        background: $lightgrey;
      }
      td {
        white-space: normal;
        color: black;
        padding: 0.6em;
        border: 1px solid #d3d2df;

        &:not(:first-of-type) {
            width: 0px;
        }
        a {
          color: $secondary;
        }
        div{
          max-width: 151px;
        }
      }
    }
  }

