.button {
  background: none;
  border: none;
  padding: 0;

  img {
    max-width: 8em;
    transition: all 0.25s ease;
    transform: scale(1);

    &:hover,
    &:focus {
      transition: all 0.35s ease;
      transform: scale(1.2);
      cursor: pointer;
    }
  }
}
